.logo {
  display: inline-block;

  & span {
    color: var(--brand-blue);
    font-weight: bold;
    font-style: italic;
  }

  & svg {
    vertical-align: baseline;
    margin-left: -0.1em;
    margin-bottom: -1px;

    fill: var(--brand-yellow);
    width: 0.35em;
    height: 0.35em;
  }
}