.logo {
  display: inline-block;
  position: relative;
  margin-right: 0.5em;

  & span {
    color: var(--brand-blue);
    font-weight: bold;
    font-style: italic;
  }

  & svg {
    position: absolute;
    bottom: 0;
    right: -0.5em;

    fill: var(--brand-yellow);
    width: 0.75em;
    height: 0.75em;
  }
}