.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;

  & > div {
    display: inline-flex;
    align-items: baseline;
    gap: 1rem;
  }

  & a {
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--text-color);
    
    &.logo {
      font-size: 3rem;
    }
    
    &.branding {
      font-size: 2rem;
    }
  }
}
